<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoApp</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">Welcome to Register</div>
            <form id="registerUserForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" class="form-control" name="userEmail" autocomplete="userEmail" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Username</label>
                        <input type="text" class="form-control" name="userUsername" autocomplete="userUsername" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="userFirstname" autocomplete="userFirstname" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Lastname</label>
                        <input type="text" class="form-control" name="userLastname" autocomplete="userLastname" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Password</label>
                        <input type="password" class="form-control" name="userPassword" autocomplete="userPassword" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" name="userConfirmPassword" autocomplete="userPassword" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Create a user</button>
            </form>
            <div class="card-footer text-muted">
                <a href="login.html">Already have an account? Login Now</a>
            </div>
        </div>
    </div>
</body>
</html>